body{font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; margin: 0;}


       /* Navigationsleisten-Stil */
       .navbar {
        display: flex;
        justify-content: space-between;
        background-color: white;
        color: #333;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 10px 20px;
        z-index: 100;
    }

    /* Logo-Stil */
    .logo {
        font-size: 34px;
        font-weight: bold;
        text-transform: uppercase;
    }

    /* Menüpunkt-Stil */
    .menu {
        list-style: none;
        padding: 0;
        display: flex;
    }

    .menu li {
        margin-right: 15px;
    }

    .menu a {
        color: #333;
        text-decoration: none;
    }

    .grid-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 4%;
    }
    
    .grid-item {
      flex-basis: calc(33.33% - 10px);
      margin: 5px;
    }
    
    img {
      width: 100%;
      height: auto;
    }
    





h1{margin-left: 10%;color: red;font-size: 3rem;}

h3{margin-left: 4%;color: rgb(255, 0, 111);font-size: 2rem;}

p{ color:gray;font-weight: 400;}

.überschrift{margin-left: 10%;color: red;font-size: 3rem; margin-top: 10%;}

.bildtext{
  display: flex;
  
 
  
margin-top: 10%;
  margin-bottom: 10%;
 
}

.text{
display: flex;
flex-direction: column;
justify-content: space-evenly;

padding: 3%;

 
}

.leer{width: 100%;height: 300px;background-color: #333;}

.porträt{ max-width: 500px; height: auto;}







.footer {
    background-color: #070000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }

  .footer p {
    margin: 0;
  }

  .footer a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }

  /* Mobile Styles */
@media only screen and (max-width: 600px) {
  /* Füge hier deine Styles für mobile Geräte hinzu */
  .bildtext{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
   

  margin-top: 10%;
    margin-bottom: 10%;
   
  }
  
  .text{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  padding: 3%;
  
   
  }
  
  .leer{width: 100%;height: 300px;background-color: #333;}
  
  .porträt{ height: auto;}






}

/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Füge hier deine Styles für Tablets hinzu */
  .bildtext{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
   

  margin-top: 10%;
    margin-bottom: 10%;
   
  }




}

/* Desktop Styles */
@media only screen and (min-width: 1025px) {
  /* Füge hier deine Styles für Desktop-Geräte hinzu */
}