body{font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; margin: 0;}


       /* Navigationsleisten-Stil */
       .navbar {
        display: flex;
        justify-content: space-between;
        background-color: white;
        color: #333;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 10px 20px;
        z-index: 100;
    }

    /* Logo-Stil */
    .logo {
        font-size: 34px;
        font-weight: bold;
        text-transform: uppercase;
    }

    /* Menüpunkt-Stil */
    .menu {
        list-style: none;
        padding: 0;
        display: flex;
    }

    .menu li {
        margin-right: 15px;
    }

    .menu a {
        color: #333;
        text-decoration: none;
    }







h1{margin-left: 10%;color: red;font-size: 3rem;}
p{width: 60%;margin-left: 10%; color:gray;font-weight: 800;}

.überschrift{margin-left: 10%;color: red;font-size: 3rem; margin-top: 10%;}

.bilderbox{
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  margin-left: 10%;
}





.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }

  .footer p {
    margin: 0;
  }

  .footer a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }